// Package mail holds this project's mailables.
package mail

import (
	"html/template"

	frameworkmail "github.com/Alfian57/gin-kit/framework/mail"
)

// New{{.Name}} builds the {{.Camel}} email. Parse the mail templates once at
// startup and send with your mailer:
//
//	templates := template.Must(template.ParseGlob("web/templates/mail/*.html"))
//	message := mail.New{{.Name}}(templates, recipient)
//	err := mailer.Send(ctx, message)
func New{{.Name}}(templates *template.Template, to string) *frameworkmail.Message {
	return frameworkmail.NewMessage().
		To(to).
		Subject("{{.Name}}").
		HTMLTemplate(templates, "{{.Snake}}.html", nil)
}
