-- +goose Up
CREATE TABLE IF NOT EXISTS {{.Table}} (
    id VARCHAR(36) PRIMARY KEY,
{{range .Fields}}    {{.Name}} {{.SQLType}},
{{end}}    created_at TIMESTAMP NOT NULL,
    updated_at TIMESTAMP NOT NULL
);

-- +goose Down
DROP TABLE IF EXISTS {{.Table}};
